.wb-opened-editor-name {
    color: #569CD6;
    padding-left: 16px;
}
.wb-opened-editor-path {
    color: #888888;
    padding-left: 0px;
    font-size: smaller;
}
.wb-close-opened-editor{
    color: white;
    margin-top: -12px;
    margin-left: 4px;
    margin-bottom: 4px;
    font-size: 0.7em;
}
.wb-opened-editor:hover{
    display: block;
    background-color: #333333;
    cursor: pointer;
}
.wb-opened-editor{
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wb-opened-editor-active {
    background-color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wb-tools-items{
    list-style-type: none;
    height: 100%;
    width: 35px;
    padding-top:17px;
    padding-left:8px;
    padding-bottom:15px;
    margin:0px;
    background-color: #333333;
    color:white;
    font-size: 1.3em;
}
.wb-tools-items li {
    padding-bottom:20px;
}
.wb-title{
    width: 100%;
    height: 25px;
    background-color: #222222;
    color: #AAAAAA;
    font-size: 0.75em;
    padding-top:7px;
    padding-left:5px;
    float: top;
    font-weight: 200;
}
.wb-item{
    width: 100%;
    height: 22px;
    background-color: #333333;
    color: #AAAAAA;
    font-size: 0.75em;
    font-weight:700;
    padding-top:5px;
    padding-left:5px;
    float: top;
}
#wb-tools{
    float: left;
    width: 35px;
    position: fixed;
    height: 100%;
}
#wb-ctls{
    margin-left: 35px;
}
#wb-ctls{
    font-size: 1em;
}
.wb-clickable{
    text-decoration: none!important;
    color: #cccccc;
}
.wb-clickable:hover{
    color: #cccccc!important;
}
.wb-clickable:visited{
    color: #cccccc!important;
}
.wb-clickable:active{
    color: #cccccc!important;
}
#workbench{
    flex: 0 0 auto;
    background-color: #222222;
    height: 100%;
    width: 12%;
    min-width: 35px;
    resize: both;
    overflow: auto;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}