.projectmanager-list
{
	font-weight: normal;
    direction: ltr;
    padding-left: 0px;
    padding-top: 0px;
	padding-bottom: 5px;
}

.projectmanager-list li span
{
    padding-top:2px;
    padding-bottom:2px;
    padding-left:15px;
	display:block;
}

.projectmanager-item .active
{
	background:#555;
	display:block;
}

.projectmanager-item span:hover
{
	background:#333;
	display:block;
}

.projectmanager-list li
{
	color: #DCDCDC;
	text-decoration: none;
	display: block;
	list-style: none;
	cursor: pointer;
}
